* {
    padding: 0;
    margin: 0;
}
body {
    background-size: cover;
    background-image: url(https://pulseserbia.com/login/images/hemijske_olovke_naliv_pera_s---4900f3fe8244e0ebc15decccc9bda71cc1c9df8c.jpg);
    background-position: center;
}
#wrapp1 {
    text-align: center;
    color: aqua;
}
.menu-bar {
    background-color: #414045;
    text-align: left;
    height: 85px;
    font-family: sans-serif;
    padding-right: 80px;
    
}
.menu-bar ul {
    display:  inline-flex;
    list-style: none;
}
.menu-bar ul li {
    margin: 15px;
    padding: 10px;
    width: 190px;
} 
.menu-bar ul li a {
    text-decoration: none;
    color: #fff;
}
.menu-bar ul li:hover  {
    background: #2bab0d;
    border-radius: 30px;
    height: 100%;
}
.menu-bar .fa {
    margin-right: 8px;
}
.sub-menu-1 {
    display: none;
}
 .menu-bar ul li:hover .sub-menu-1 {
     position: absolute;
     display: block;
     background-color: black;
     margin-top: 10px;
     margin-left: -10px;
}
 .menu-bar ul li:hover .sub-menu-1 ul {
     display: block;
     margin: 0;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 1px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
} 
.menu-bar ul li:hover .sub-menu-1 ul li a:active {
    color: royalblue;
    font-family: fantasy;
} 
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}
#wrapp5 {
    width: 87px;
    padding-right: 20px;
    padding-left: 20px;
    height: 540px;
    margin-left: 1069px;
    margin-top: 50px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: -600px;
    background-color: #414045;
}
#h4 {
    padding-top: 10px;
    color: red;
}
.adrugi {
    text-decoration: none;
    color: aqua;
    font-size: 22px;
    margin-left: 1069px;
}
#wrapp3 {
    width: 800px;
    margin-left: 75px;
    height: 1308px;
    background-color: #414045;
    margin-top: 33px;
    padding: 8px;
    opacity: 0.9;
}
#h2 {
    text-align: center;
    color: yellowgreen;
    font-size: 26px;
}
#h3 {
    font-size: 22px;
    color: aquamarine;
}
#p1 {
    font-size: 20px;
    color: brown;
}
.slider-frame {
    background-color: #414045;
    overflow: hidden;
    height: 250px;
    width: 100%;
    margin-left: 65px;
    margin-top: 60px;
}
@-webkit-keyframes slide_animation {
     0% {left:100px;}
     10% {left:0px;}
     20% {left:1200px;}
     30% {left:1200px;}
     40% {left:2400px;}
     50% {left:2400px;}
     60% {left:1200px;}
     70% {left:1200px;}
     80% {left:0px;}
     90% {left:0px;}
     100% {left:0px;}
}
.slide-images {
    width: 5800px;
    height: 5800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
.slider-frame2 {
    background-color: #414045;
    overflow: hidden;
    height: 250px;
    width: 100%;
    margin-left: 65px;
    margin-top: 20px;
}
@-webkit-keyframes slide_animation {
     0% {left:100px;}
     10% {left:0px;}
     20% {left:1200px;}
     30% {left:1200px;}
     40% {left:2400px;}
     50% {left:2400px;}
     60% {left:1200px;}
     70% {left:1200px;}
     80% {left:0px;}
     90% {left:0px;}
     100% {left:0px;}
}
.slide-images2 {
    width: 5800px;
    height: 5800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container2 {
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
#wrappzadnji {
    width: 100%;
    margin-left: 70px;
    background-color: black;
    opacity: 0.8;
    height: 142px;
    text-align: center;
    border: 3px solid black;
    margin-top: 50px;
}
#hzadnji {
    color: whitesmoke;
    font-size: 20px;
    padding-top: 60px;
}
