* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(slikazapozadinu3.jpg);
    margin-right: 70px; 
}
#wrapp1 {
    text-align: center;
    color: aqua;
}
#h1:active {
    font-family: fantasy;
}
#wrapp2 {
    width: 1209px;
    background-color: royalblue;
    margin-left: 72px;
    height: 40px;
    border-radius: 20px;
    padding-bottom: 13px;
}
.prvalista {
    display: inline-block;
    margin: 10px 60px;
    color: white;
    font-size: 18px;
  }
#prvaul .prvalista:hover {
    background-color: goldenrod;
    height: 100%;
}
#prvaul .prvalista:active {
    color: aqua;
    font-family: fantasy;
}
